$bg_side_menu: rgba(255,255,255, 1);
$bg_dark_grey: rgba(241,243,248, 1);
$bg_blue: rgba(68,89,194, 1);
$bg_grey: rgba(192,197,203, 1);
$bg_text_color: rgba(53,65,87, 1);
$bg_content: rgba(248,249,251, 1);
$bg_text_color_blue: rgba(47,63,85, 1);
$bg_divider: rgba(231,233,240, 1);
$bg_button: rgba(59,91,192, 1);
$bg_button_hover: rgb(44, 66, 141);