.word-cloud {
  margin: 0px 3px;
  cursor: default;
  text-anchor: middle;
  display: inline-block;
  font-family: 'Poppins', sans-serif;
  position: relative;
}

.word-cloud .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  font-size: 14px;
  bottom: 100%;
  left: 50%; 
  margin-left: -60px; 
}

.word-cloud:hover .tooltiptext {
  visibility: visible;
  animation: 0.3s fadeIn;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}