.words-parent {
  margin: 10px 25px 10px 25px;
}
.word-cloud {
  margin: 1px 3px;
  cursor: default;
  text-anchor: middle;
  display: inline-block;
  font-family: 'Poppins', sans-serif;
  position: relative;
  background: rgba(59, 91, 192, 0.15);
  border-radius: 10px;
  padding: 6px 6px 6px 6px;
  transition: all 0.15 ease-in-out;
}

.word-cloud .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 8px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  font-size: 14px;
  bottom: 100%;
  left: 50%; 
  margin-left: -60px; 
}

.word-cloud:hover .tooltiptext {
  visibility: visible;
  animation: 0.3s fadeIn;
  animation-fill-mode: forwards;
}

.word-cloud:hover {
  background: rgba(59, 91, 192, 0.35);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}