.Card {
  background-color: #ffffff;
  width: 40%;
  margin: 300px auto;
  padding: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius:13px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}