@import "../../../sass/variables";

.content {
  float: left;
  padding: 40px;
  width: 60%;
  overflow: auto;
  .header {
    margin-bottom: 100px;
    .left {
      float: left;

      .navigation {
        font-size: 0.9em;
        color: $bg_blue;
    
        .fa {
          margin: 0px 6px 0px 6px;
          font-size: 0.9em;
          color: $bg_blue;
        }
      }
    
      .title {
        margin-top: 10px;
        font-size: 1.6em;
        font-weight: 800;
        letter-spacing: 0px;
        color: $bg_text_color_blue;
    
        .fa {
          margin-left: 10px;
          font-size: 1em;
          color: rgba(175,177,184, 1);
        }
      }

    }

    .right {
      float: right;

      button {
        padding: 12px 20px 12px 20px;
        background: $bg_button;
        font-size: 1em;
        font-weight: 600;
        border: none;
        border-radius: 2px;
        color: #fafafa;
        cursor: pointer;
        transition: all 0.15s ease-in-out;

        .fa {
          color: #ffffff;
          margin-left: 0px;
          margin-right: 12px;
          font-size: 1em;
          font-weight: 200;
        }

        &:hover {
          background: $bg_button_hover;
        }
      }

      .fa-cog {
        color: $bg_blue;
        font-size: 2.3em;
        margin-left: 15px;
        position: relative;
        top: 6px;
        cursor: pointer;

        &:hover {
          color: $bg_button_hover;
        }

      }
      
     
    }
  }

  .modal {

    .close {
      color: #aaa;
      position: absolute;
      top: 10px;
      right: 15px;
      font-size: 2.3em;
      font-weight: 10;
    }

    .close:hover, .close:focus {
      color: black;
      text-decoration: none;
      cursor: pointer;
    }
    
    .dot {
      height: 4em;
      width: 4em;
      border-radius: 50%;
      display: inline-block;
      margin: 7px 0.2em 7px 0.2em;
      transition: all 0.2s ease;
      &:hover {
        height: 3.7em;
        width: 3.7em;
      }
    }

    h2 {
      color: $bg_text_color;
    }
  }

}